<div class="flex flex-col lg:flex-row items-start gap-4 mb-10 px-4">
  <!-- Carousel Section -->
  <div class="lg:w-9/12 w-full flex-shrink-0">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img
          src="/images/slider-image-1.jpeg"
          class="h-[500px] w-full object-cover rounded-lg shadow-md"
          alt="Slider Image 1"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/images/slider-image-2.jpeg"
          class="h-[500px] w-full object-cover rounded-lg shadow-md"
          alt="Slider Image 2"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/images/slider-image-3.jpeg"
          class="h-[500px] w-full object-cover rounded-lg shadow-md"
          alt="Slider Image 3"
        />
      </ng-template>
    </owl-carousel-o>
  </div>

  <!-- Banner Section -->
  <div class="lg:w-3/12 w-full flex flex-col gap-4">
    <img
      src="/images/grocery-banner.png"
      class="h-[calc(250px-0.5rem)] w-full object-cover rounded-lg shadow-md hover:scale-105 transition-transform duration-300"
      alt="Grocery Banner 1"
    />
    <img
      src="/images/grocery-banner-2.jpeg"
      class="h-[calc(250px-0.5rem)] w-full object-cover rounded-lg shadow-md hover:scale-105 transition-transform duration-300"
      alt="Grocery Banner 2"
    />
  </div>
</div>
