<div
  class="product border border-gray hover:border-main p-4 rounded-xl hover:shadow-xl transition-all mb-4 group hover:-translate-y-4"
>
  <a [routerLink]="['/productDetails', product._id]">
    <img [src]="product.imageCover" class="w-full rounded-lg" alt="" />
    <span class="text-main block my-3 text-sm font-semibold">
      {{ product.category.name }}
    </span>

    <h2 class="mb-4 text-lg font-bold text-gray-800">
      {{ product.title.split(" ").splice(0, 2).join(" ") }}
    </h2>

    <div class="flex justify-between mb-3 text-gray-600">
      <p class="font-medium">$ {{ product.price }}</p>
      <p>
        <i class="fa fa-star text-[#ffc908]"></i>
        <span class="font-medium">{{ product.ratingsAverage }}</span>
      </p>
    </div>
  </a>

  <!-- Wishlist Button -->
  <button
    (click)="handleAddToWishList(product._id)"
    class="cursor-pointer block ms-auto"
  >
    <i
      class="fa-solid fa-heart text-2xl transition-all duration-300"
      [ngClass]="{
        'text-red-500': isInWishList,
        'text-gray-500': !isInWishList
      }"
    ></i>
  </button>

  <!-- Add to Cart Button -->
  <button
    (click)="handleAddToCart(product._id)"
    class="text-white p-2 rounded-md w-full mx-auto block mt-3 bg-main opacity-0 transition-all duration-500 group-hover:opacity-100 translate-y-full group-hover:translate-y-0 overflow-hidden"
  >
    Add to Cart
  </button>
</div>
