@if (wishList.length > 0 ) {
<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-5 p-7 bg-white">
  <div class="block md:hidden">
    @for (item of wishList; track $index) {
    <div
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 p-4"
    >
      <div class="flex items-center justify-between">
        <img
          [src]="item.imageCover"
          class="w-32 max-w-full max-h-full"
          alt="Apple Watch"
        />

        <div class="text-right">
          <!-- <p class="font-semibold text-gray-900">
            <span class="me-1">$</span>{{ product.price }}
          </p> -->
          <p class="font-semibold text-sm text-gray-900">
            {{ item.title.split(" ").splice(0, 3).join(" ") }}
          </p>
        </div>
      </div>
      <div class="mt-4 flex gap-x-3">
        <button
          (click)="removeItem(item._id)"
          class="text-white p-2 rounded-md w-full bg-red-600 transition-all duration-500 hover:bg-red-600"
        >
          <i class="fa fa-trash"></i> Remove
        </button>
        <button
          (click)="addProductToCart(item._id)"
          class="text-white p-2 rounded-md w-full bg-main transition-all duration-500 hover:bg-green-600"
        >
          @if (isLoading) {
          <i class="fa fa-spin fa-spinner"></i>
          } @else { Add to Cart }
        </button>
      </div>
    </div>
    }
  </div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-700 hidden md:table"
  >
    <tbody>
      @for (item of wishList; track $index) {
      <tr
        class="border-b hover:bg-gray-100 transition dark:bg-gray-800 dark:border-gray-700"
      >
        <!-- Product Image -->
        <td class="p-4">
          <img
            [src]="item.imageCover"
            class="w-16 md:w-32 rounded-md shadow-sm"
            alt="{{ item.title }}"
          />
        </td>

        <!-- Product Name & Remove Button -->
        <td class="px-6 py-4">
          <h2 class="text-lg font-semibold text-gray-900">{{ item.title }}</h2>
          <button
            (click)="removeItem(item._id)"
            class="mt-2 text-red-600 font-medium flex items-center gap-2 hover:text-red-800 transition"
          >
            <i class="fa fa-trash"></i> Remove
          </button>
        </td>

        <!-- Add to Cart Button -->
        <td class="px-6 py-4">
          <button
            (click)="addProductToCart(item._id)"
            class="text-white p-2 rounded-md w-full bg-main transition-all duration-500 hover:bg-green-600"
          >
            @if (isLoading) {
            <i class="fa fa-spin fa-spinner"></i>
            } @else { Add to Cart }
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
} @else {
<h1 class="text-4xl text-main mx-auto text-center capitalize my-10">
  No Items in Wishlist
</h1>
}
