<form
  [formGroup]="resetpasswordForm"
  (ngSubmit)="resetPassword()"
  class="max-w-4xl rounded-xl mx-auto p-4 shadow-lg my-10"
>
  <h1 class="text-3xl mb-4">Reset Password :</h1>
  @if(apiErrorMesage){
  <div
    class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    role="alert"
  >
    {{ apiErrorMesage }}
  </div>
  }

  <div class="relative z-0 w-full mb-5 group">
    @let emailControl = resetpasswordForm.get("email");

    <app-custom-input
      formControlName="email"
      [type]="'text'"
      placeholder=" "
      class="peer"
    >
      <label
        for="floating_email"
        class="label label-style peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >User Email :</label
      >
    </app-custom-input>
    <!-- <input
      type="email"
      formControlName="email"
      name="floating_email"
      id="floating_email"
      class="input-style peer"
      placeholder=" "
      required
    /> -->

    <app-error-message [inputControl]="emailControl"></app-error-message>
  </div>

  <div class="relative z-0 w-full mb-5 group">
    @let newPasswordControl = resetpasswordForm.get("newPassword");

    <app-custom-input
      formControlName="newPassword"
      [type]="'password'"
      placeholder=" "
      class="peer"
    >
      <label
        for="floating_newPassword"
        class="label label-style peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        New Passord :</label
      >
    </app-custom-input>
    <!-- <input
      type="email"
      formControlName="email"
      name="floating_email"
      id="floating_email"
      class="input-style peer"
      placeholder=" "
      required
    /> -->

    <app-error-message [inputControl]="newPasswordControl"></app-error-message>
  </div>

  <div class="flex justify-between items-center">
    <button type="submit" class="main-btn">
      @if (isCallingApi) {
      <i class="fa fa-spin fa-spinner"></i>
      }@else{ Confirm }
    </button>
  </div>
</form>

<!-- {{ isEmailSend }}
(click)="isEmailSend ? verify() : forgetPassword()" -->
