<form
  [formGroup]="checkoutForm"
  class="max-w-4xl rounded-xl mx-auto p-4 shadow-lg my-10"
>
  <div class="relative z-0 w-full mb-5 group">
    @let detailsControl = checkoutForm.get("details");

    <app-custom-input formControlName="details" [type]="'text'" placeholder=" ">
      <label
        for="floating_email"
        class="label label-style peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Address details :</label
      >
    </app-custom-input>

    <app-error-message [inputControl]="detailsControl"></app-error-message>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    @let phoneControl = checkoutForm.get("phone");

    <app-custom-input formControlName="phone" [type]="'tel'" placeholder=" ">
      <label
        for="floating_email"
        class="label label-style peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >phone :</label
      >
    </app-custom-input>

    <app-error-message [inputControl]="phoneControl"></app-error-message>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    @let cityControl = checkoutForm.get("city");

    <app-custom-input formControlName="city" [type]="'text'" placeholder=" ">
      <label
        for="floating_email"
        class="label label-style peer-focus:font-medium peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >city :</label
      >
    </app-custom-input>

    <app-error-message [inputControl]="cityControl"></app-error-message>
  </div>
  <div class="flex justify-between gap-x-3">
    <button (click)="OnlinePayment()" class="main-btn" type="submit">
      online
    </button>
    <button (click)="completeOrder()" class="main-btn" type="submit">
      Cash
    </button>
  </div>
</form>
